.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "acquest-script";
   font-style: normal;
   font-weight: 400;
   src: url("./font/acquest-script.woff2") format("woff2");
   font-display: swap;
 } 
 @font-face {
    font-family: "AkayaKanadaka-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/AkayaKanadaka-Regular.ttf") format("ttf");
    font-display: swap;
  } 

  
  html {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden  */
  }
  
  body {
    width: 100%;
    min-height: 100%;
    font-family: "AkayaKanadaka-Regular";
    font-size: calc(10px + 16 * (100vw / 1555));
    line-height: calc(10px + 16 * (100vw / 1555));
    font-weight: 400;
    color: #42855F;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
  }
  p,
  h2,
  h1{
    margin: 0;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  /* .header-about-us__h1{
    font-size: calc(15px + 25 * (100vw / 1555));
    line-height: calc(20px + 20 * (100vw / 1555));
  } */
.main{
    display: flex;
    padding: 10%;
    justify-content: space-between;
    align-items: center;
}
.header__h2{
    background-color: inherit;
    border: none;
    position: relative;
}
.product__size{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}
.main__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product__size-element{
    /* width: 10%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #42855F; */
    cursor: pointer;
}
.main__button{
    width: 50%;
    height: 50px;
    border: 2px solid  #5D3051;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D3051;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 50px;
    width: 100%;
}
.main__button:hover{
  background-color: #5D3051;
  color: #fff;
}
.smart-basket__add-item:hover{
  background-color: #5D3051;
  color: #fff;
}
.smart-basket__remove-item:hover{
  background-color: #5D3051;
  color: #fff;
}
.smart-basket__min{
    border: none;
    background-color: inherit;
    padding: 0;
    position: absolute;
    top: 34px;
    left: 28px;
    cursor: pointer;
}
.smart-basket__min-count{
    top: -13px;
    position: absolute;
}
.smart-basket__min-icon{
   display: none;
}
.header__h2-img{
    fill: #5D3051;
}
.nav-index__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 50px;
    padding-left: 2%;
    padding-right: 5%;
}
.nav-index__li{
    padding-right: 10px;
}
.nav-index__a{
    font-family: "acquest-script";
    font-size: calc(25px + 23 * (100vw / 1555));
    line-height: calc(20px + 20 * (100vw / 1555));
    color: #5D3051;
}
.nav-index__a:hover{
  color: #42855F;
}
.main-section__h2{
    font-family: "acquest-script";
    font-size: calc(26px + 70 * (100vw / 1555));
    line-height: calc(20px + 30 * (100vw / 1555));
    font-weight: 400;
    margin-bottom: 100px;
}
.main-index{
    padding: 0 5% 100px;
}
.main-section__a{
    color: #5D3051;
}
.main-section__a:hover{
  background-color: #5D3051;
  color: #fff;
}
.main-index__li{
    color: #5D3051;
    font-family: "acquest-script";
    font-size: calc(20px + 13 * (100vw / 1555));
    line-height: calc(20px + 10 * (100vw / 1555));
    text-align: center;
}
.main-index__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-index__li-span{
    font-family: "AkayaKanadaka-Regular";
}
.footer-index__li-h2{
    color: #5D3051;
    font-family: "acquest-script";
    font-size: calc(20px + 20 * (100vw / 1555));
    line-height: calc(20px + 10 * (100vw / 1555));
    font-weight: 400;
}
.footer-index__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}  
.footer-index{
    padding: 0 5% 100px;
}
.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}
.main-section-img--left{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.main-section-img--right{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.main-section__div--padding{
    padding-top: 100px;
}
.main-section__div-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section__a{
    border: 2px solid #5D3051 ;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D3051;
    border-radius: 40px;

}
.main-section__div-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
}
.main-section-img--left-top{
    margin-top: 100%;
}
.main-section--flex{
    display: flex;
    justify-content: space-between;
}
.main-index__ul{
    margin-top: 100px;
    margin-bottom: 200px;
}
.main-section__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-index__a-svg{
    fill: #5D3051;
    margin: 50px 0 50px;
}
.footer-index__a-svg:hover{
  fill: #42855F;
}
.footer-index__ul--left{
    justify-content: left;
}
.footer-index__a{
    margin-right: 20px;
    font-family: "AkayaKanadaka-Regular";
    font-style: normal;
    font-weight: 400;
    color: #5D3051;
    font-size: calc(20px + 10 * (100vw / 1555));
    line-height: calc(20px + 10 * (100vw / 1555));
}
.footer-index__a:hover{
  color: #42855F;
}
.header__h2-img:hover{
  fill: #42855F;
}
.main-delivery{
    padding: 0 5% 200px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.main-section--grid{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
}
.main-delivery__p{
    margin-bottom: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 5%;
}
.main-section--grid-1{
    grid-row-start: 2;
    grid-row-end: 4;
}
.main-delivery__p--grid{
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
}
.nav-index__li:nth-child(7){
  display: none;
}
.main-catalog1__h2{
  font-size: calc(10px + 10 * (100vw / 1555));
  line-height: calc(20px + 30 * (100vw / 1555));
  color: #5D3051;
  text-align: center;
}
.main-catalog1__ul{
  padding: 50px 5% 10%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%; */
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-catalog1__a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-catalog1__h2--bottom{
  margin-bottom: 10%;
}
.main-catalog1__h2--bottom1{
  margin-bottom: 22%;
}
.main-catalog1__li{
  margin-right: 5%;
  margin-bottom: 10%;
}
.main-catalog__h2{
  font-size: calc(20px + 90 * (100vw / 1555));
  line-height: calc(20px + 30 * (100vw / 1555));
  font-family: "acquest-script";
  color: #42855F;
  text-align: center;
  font-weight: 400;
  margin-top: 5%;
}
.main-catalog__ul{
  padding: 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main__section{
  margin-right: 5%;
}
.main__h2{
  font-size: calc(20px + 20 * (100vw / 1555));
  line-height: calc(20px + 30 * (100vw / 1555));
  color: #5D3051;
  text-align: center;
}
.main-catalog__a{
  font-size: calc(20px + 10 * (100vw / 1555));
  line-height: calc(20px + 10 * (100vw / 1555));
  font-family: "acquest-script";
  color: #42855F;
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 5;
}
.main-catalog__a:hover{
  color: #5D3051;
}
.product__price-number,
.product__price{
  font-size: calc(20px + 20 * (100vw / 1555));
  line-height: calc(20px + 30 * (100vw / 1555));
  color: #5D3051;
  text-align: center;
}
.product__size-element{
  font-size: calc(10px + 10 * (100vw / 1555));
  line-height: calc(20px + 10 * (100vw / 1555));
  color: #5D3051;
}
.main-catalog__div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product__size {
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-top: 20px;
}
.product__size-element:hover{
  color: #42855F;
}
.section-product__list-item--color{
  /* border: 2px solid #5D3051;
  border-radius: 50px;
  padding: 5px 10px 5px; */
  color: #42855F;

}
.main-product-description__a{
  color: #42855F;
  font-size: calc(10px + 40 * (100vw / 1555));
  line-height: calc(20px + 10 * (100vw / 1555));
  font-family: "acquest-script";
  
}
.main-product-description__h2{
  color: #5D3051;
  font-size: calc(20px + 90 * (100vw / 1555));
  line-height: calc(20px + 10 * (100vw / 1555));
  font-family: "acquest-script";
  text-align: center;
  margin-top: 20%;
}
.main-product-description{
  padding: 5% 5% 10%;
}
.main-product-description__div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-top: 10%;
  margin-bottom: 10%;
}
.main-product-description__p{
  text-align: center;
  padding: 0 10% 0;
}


  .demo { 
    position:relative; 
    margin:0 auto; 
    height: 300px;
    width:300px;
    display: block;
}

  .demo img { 
    left: 0; 
    position:absolute; 
    top: 0; 
}

  .demo img.raz {opacity:0;filter:alpha(opacity=0);}
  .demo:hover img.raz {opacity:1;filter:alpha(opacity=100);}
  .demo:hover img.dva, .demo img.dva:hover {opacity:0;filter:alpha(opacity=0);}
  
@media(max-width:767px){
  .demo{
    width: 100px;
    height: 100px;
  }
  .raz,
  .dva{
    width: 100px;
    height: 100px;
  }
  .font-size{
    font-size: 15px;
  }
  .font-size1{
    font-size: 10px;
  }
  .main-product-description__img{
    width: 100%;
  }
  .nav-index__li:nth-child(7){
    display: block;
  }
  .nav-index__li:nth-child(2){
    display: none;
  }
  .nav-index__li:nth-child(3){
    display: none;
  }
  .nav-index__li:nth-child(4){
    display: none;
  }
  .nav-index__li:nth-child(5){
    display: none;
  }
  .nav-index__ul{
    padding: 20px 0 20px;
  }
  .main-section--flex{
    flex-direction: column;
  }
  .main-section__div--padding {
    padding-top: 20px;
}
.main-section__h2{
  margin-bottom: 50px;
}
.main-section__div-button{
  margin-bottom: 50px;
}
.main-section-img--left{
  width: 100%;
  height: 350PX;
}
.main-section__div--padding {
  flex-direction: column;
  display: flex;
}
.main-section__p{
  margin-bottom: 50px;
}
.main-section__div-img{
  margin-left: 0;
}
.main-index__ul{
  margin-top: 0;
  flex-direction: column;
  margin-bottom: 50px;
}
.main-index__li{
  margin-bottom: 70px;
  font-size: 37px;
  line-height: 40px;
}
.main-section__h2{
  line-height: 35px;
  font-size: 39px;
}
.footer-index__li{
  margin-bottom: 20px;
}
.footer-index__li-h2{
  font-size: 35px;
}
.footer-index{
  padding-bottom: 0;
}
.footer-index__a-svg{
  margin: 0;
}
.main-section--grid-1{
  width: 80%;
}
.main-delivery{
  padding-bottom: 100px;
}
.main-catalog1__img{
  width: 100%;
  height: 100px;
}
/* .main-catalog1__h2{
  width: 100px;
} */
.main-catalog1__ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  padding-bottom: 200px;
}
.main-catalog1__h2--bottom2{
  padding-bottom: 35%;
}
.main-catalog1__h2--bottom1{
  margin-bottom: 0;
}
/* .main-catalog1__h2--bottom6{
  margin-bottom: 20%;
} */
.main-section-img--right-mob{
  height: 250px;
}
.main-index__ul{
  display: none;
}
.main-catalog__ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__button--mobil{
  width: 90%;
  margin-top: 20%;
  height: 40px;
}
}





/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 60px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 9;

  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #440674;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    /* left: -100%; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 8;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
  
  .main-nav--closed{
    display: none;
  }
  .main-nav--opened{
    display: block;
  }
  .input{
    width: 100%;
    left: 0;
    position: absolute;
  }
  .menu__btn1{
    top: 80px;
    width: 100%;
  }




.smart-basket__min{
  width: 50px;
  height: 50px;
  left: 4px;
}



